<!doctype html>

<html lang="en" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome link CSS-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500|Source+Sans+Pro:200i,300,300i"
          rel="stylesheet">

    <!-- LOGO -->
    <link rel="icon" type="images/png" href="/images/minilogo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/sheet2.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Admin page</title>
</head>
<body class="h-100">
<header id="HOME">

    <!-- NAVBAR -->
    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 fixed-top nav-section">
            <img src="/images/vfff.png" class="my-0 mr-md-auto font-weight-normal logo-style"/>
            <nav class="my-2 my-md-0 mr-md-3 navbar-style">
                <a class="p-2 nav-item" href="/">Home</a>
                <a class="p-2 nav-item active" href="#">Add Books</a>
            </nav>
        </div>
    </div>
</header>

<div class="container h-100" id="root">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <section class="jumbotron  bgcolor text-center ">
                            <!--<div class="container mt-5 justify-content-center">-->
                            <section class="jumbotron-heading">
                                <h1 class="display-4 text-center "> {{headOne}} </h1>
                                <p class="lead">{{p}} </p>
                                <button class="btn btn-success btn-style" @click="openAddModal"> Add New Book
                                    <i class="far fa-plus-square"></i></button>
                            </section>
                            <!--</div>-->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>